* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.admin-table-main p {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
.admin-table-main td {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #e4e4e4;
}
.text-center {
  text-align: center;
}
.admin-table-main {
  padding: 0 1.5rem;
}
.admin-table-main thead td {
  padding: 0.5rem;
  font-weight: bold;
  background: #d1d1d1;
}
.admin-table-main p {
  margin: 0;
  font-size: 0.8rem;
}
.admin-table-main table {
  width: 100%;
}
.delete-icon {
  font-size: 1.25rem;
  cursor: pointer;
}
.data-unavailable {
  text-align: center;
  color: #ff0000;
  padding: 1rem;
}
.admin-table-main td span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
